<div id="blazor-error-ui" class="alert alert-danger shadow-lg d-none" role="alert" data-nosnippet>
    <span class="msg">Сталася неочікувана помилка.</span>
    <a href="." class="reload alert-link ms-2">Перезавантажити</a>
    <button type="button" class="btn-close ms-2 dismiss" aria-label="Close"></button>
</div>